!public/.htaccess
!public/index.php
!public/robots.txt
.env
.phpstorm.meta.php
.phpunit.result.cache
/.idea
/.vagrant
/.vscode
/_ide_helper*.php
/node_modules
/public/*
/public/hot
/public/storage
/storage/*.key
/temp/
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
specs/testData.json
yarn-error.log
