@import "./global.scss";

// Variables
@import "~typeface-lato";
@import "~typeface-roboto-mono";

$theme-colors: (
  "soft-gray":    #EEEEEE,
  "gray": hsl(0 0% 42% / 1),
  "soft-red":    #fff5f5,
);

$tooltip-bg: rgba(255, 255, 255, 0.6);
$tooltip-color: #6c757d; // gray-600
$tooltip-font-size: 12px;

@import '~bootstrap/scss/bootstrap';
@import '~dubai-font/dubai-font/css/dubai-font';
@import '~font-awesome/scss/font-awesome';

@import '~open-iconic/font/css/open-iconic';
@import "~datatables.net-bs4/css/dataTables.bootstrap4";
@import "~datatables.net-select-bs4/css/select.bootstrap4";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4";
@import "~ekko-lightbox/dist/ekko-lightbox";

@import "./core.scss";
@import "./scrollbar";

.ekko-lightbox-nav-overlay a > * {
  text-shadow: 0px 0px 1rem black;
}

.ekko-lightbox.modal .modal-footer {
  justify-content: space-around;
}

.task__actionButton,
.task__button--routeLink,
.tasksList__button--routeLink
{
  @extend .box-shadow-1;
  @extend .btn;
  
  font-size: 1rem;

  background: choose-contrast-color($body-background) !important;
  color: $body-background !important;
  white-space: normal;

  &:hover {
    color: white;
    text-decoration: none;
    @include common-text-shadow();
  }
}

.tasksView__column {
  @extend .customScrollbar;

  min-height: $mainHeight;

  @at-root body.offset-navbar & {
    min-height: calc(100vh - 80px);
    height: calc(100vh - 80px);
  }

  @at-root body.offset-navbar &, & {
    @include media-breakpoint-down(xs) {
      height: auto;
    }
  }
}

.task__container {
  padding: 1rem;
}


.tasksView__column {
//  padding: 1.5rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 25px !important;
}
.taskControl__headerIcon {
  font-size: 10px;
  margin-right: 10px;
}


.tasksControl__category {
  font-weight: 300;
  padding-top: 25px;
  border-right: 2px solid #dfdfdf;
  padding-bottom: 25px;
  text-align: center;
}

@include media-breakpoint-up(sm) {
  .hasDividerAfter:after {
      z-index: 2;
      content: " ";
      background: url('../images/divider-v.png');
      position: absolute;
      width: 4px;
      top: 10px;
      bottom: 10px;
      background-size: 100% 100%;
      left: 1px;
      opacity: 1;

      @at-root .rtl & {
        right: 1px;
      }
  }

}

@include media-breakpoint-down(xs) {
  .hasDividerAfter:after {
    z-index: 2;
    content: " ";
    background: url('../images/divider.png');
    position: absolute;
    width: calc(100% - 2rem);
    top: 4px;
    background-size: 100% 100%;
    opacity: 1;
    height: 5px;
  }
}

.hasDividerAfter-sm {
  @extend .hasDividerAfter;
  @include media-breakpoint-down(sm) {
    &:after {
      content: none;
    }
  }
}
.tasksControl__category, .list-group-item {
    border: none;
}

.tweetImage__thumb {
  border-radius: 0.5rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 1px black;
}

.locale-ar .taskControl__headerIcon {
    margin-top: 6px;
    margin-left: 8px;
}

.anchor--normal {
  color: $body-color;

  &:active, &:focus, &:hover {
    color: adjust-color($body-color, $lightness: 35%);
  }
}
.tweetHeaderMetaContainer {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.freeze {
  height: calc(100vh - 40px);
  overflow: hidden;
}

.sidebar {
    height: calc(100vh - 40px);
    overflow: auto;
    transition: all 0.1s;
    width: 260px;
    position: fixed;
    z-index: 999;
    background: white;
}

#mainContainer {
  padding: 0;
}

.layoutContainer {
    width: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

.mainContent {
    width: calc(100% - 260px);
    z-index: 1;
    margin-left: 260px;
    padding-top: 1rem;
    position: relative;
    min-height: calc(100vh - 40px);
    font-weight: 300;

    @at-root .rtl & {
      margin-left: 0;
      margin-right: 260px;
    }
}


.taskTypeContainer {
  margin: -2px;
  margin-top: 2rem;
  min-width: 400px;
}

.taskType {
  border: 1px dashed #ccc;
  border-radius: 1rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  box-shadow: 1px 2px 2px #acacac;

  @include media-breakpoint-down(sm) {
    margin: 0 0.4rem;
  }

  .taskType__button {
    min-width: 150px;
    font-size: 90%;
    direction: ltr;

    @at-root .rtl & {
      direction: rtl;
    }
  }

  .taskType__button__innerContainer {
    flex: 2;
    position: relative;

    text-align: left;

    @at-root .rtl & {
      text-align: right;
    }
  }

  .taskType__button--right {
      border-radius: 0rem;
      border-bottom-right-radius: 1rem !important;
  }

  .taskType__button--left {
      border-radius: 0rem;
      border-bottom-left-radius: 1rem !important;
  }

  .taskType__button--hint {
    position: absolute;
    bottom: -18px;
    font-size: 12px;
    right: 0px;
    opacity: 0.5;
    width: 80px;

    @at-root .rtl & {
      right: unset;
      left: 0px;
    }
  }
}

.taskType__header {
  margin-bottom: 0.5rem;
}

.taskType__header--label {
/*  background: #f3f3f3;
  padding: 1rem 2rem;
  border: 1px dashed #ccc;
  border-radius: 1rem;
  box-shadow: 1px 2px 2px #acacac;
*/}

.taskType__emptyLabel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8f8f8f;
}

.taskType__historyContainer {
  min-height: 140px;
  background: #f3f3f3;
  padding: 1.5rem 0 0 0;
  position: relative;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex: 1;
}

.taskType__historyLabel {
  font-size: 14px;
  position: absolute;
  top: 1px;
  color: #8f8f8f;
  user-select: none;

  left: 10px;
  @at-root .rtl & {
    left: unset;
    right: 10px;
  }
}

.taskType__history {
  flex: 1;
  padding: 0.3rem;
  padding-top: 0.5rem;
}

.taskOverviewItem__container {
  border: 1px solid hsla(0, 0%, 73%, 1);
  border-radius: 12px;
  background: rgb(255, 255, 255);
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #262625;
}

.taskOverviewItem__status {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    background: hsla(0, 0%, 20%, 1);

    &--success {
      background: rgba(0, 165, 0, 1);
    }

    &--error {
      background: hsla(0, 110%, 30%, 1);
    }
}

.taskOverviewItem__typeLabel--container {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.taskType__actions {
  height: 60px;
  background: hsla(0, 0%, 86%, 1);
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@include media-breakpoint-up(sm) {
  .sidebar {
    display: flex !important;
  }
}

@include media-breakpoint-down(sm) {
    .mainContent {
        width: 100%;
        margin-left: auto;

        @at-root .rtl & {
          margin-left: unset;
          margin-right: auto;
        }
    }

    .sidebar {
      left: -260px;
    }

    .sidebar.show {
      display: flex;
      left: 0px;
    }
}


.btn-soft-red {
  color: #b90000;

  &:hover, &:active, &:focus {
    color: darken(#b90000, 10%);
  }
}


.text-light-primary {
  color: lighten($primary, 15%);
}


.tooltip {
  font-family: "Roboto Mono", monospace;
}

.tooltip-inner {
  border-radius: 1rem;
  border: 1px solid #cfcfcf;
}

.destroyTweets__optionsList {
   margin: auto;
   width: 400px;

  .destroyTweets__optionsListItem {
    border: 1px solid #eee;
    margin: 1rem;
  }

  .destroyTweets__optionsListItem--bullet
  {
    position: absolute;
    left: -1rem;
    color: #eee;
  }

  .destroyTweets__optionsListItem--header
  {
    margin-left: -1rem;
  }
}

.taskAdd__disabled {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 100%, 0.9);
    display: block;
    content: ' ';
  }
}

.rtl .form-check-input {
  margin-left: unset;
  margin-right: -1.25rem;
}

.taskExports
.taskExport__more {
    width: calc(40px - 0.75rem + 3px);
    height: 40px;
    background: #e8e8e8;
    border: 1px solid #ccc;
    background: #e8e8e8;

    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    @at-root .locale-ar & {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus {
      outline: 2px dotted #b1acac;
    }
}

.taskExport__button {
    border: 1px solid #ccc;
    background: #e8e8e8;
    height: 40px;
    max-width: 150px;
    position: relative;
    padding: 0.25rem;
}

.taskExport__icon--type {
    padding-right: 0.5rem;

    @at-root .locale-ar & {
      padding-right: 0;
      padding-left: 0.5rem;
    }
}

$taskExport-bg: darken(theme-color-level('success', $alert-bg-level), 10%);
$taskExport-text: darken(theme-color('success'), 10%);

.taskExport__button--success {
    background: $taskExport-bg;
    color: var(--taskExport-text);
}

.taskExport__fileSize {
    position: absolute;
    top: -28px;
    font-size: 12px;
    right: -1px;
    color: var(--taskExport-text);
    background: $taskExport-bg;
    padding: 0.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
}

.taskExport__desc {
    font-size: 14px;
}

.taskExportsDetails__statusWrapper {
    border-top: 1px solid #dee2e6;
    margin-top: 0rem;
    padding-top: 7px;
}

.taskExportsDetails
{

}
.taskExportsDetails__type
{
  font-weight: 600;
  display: block;
  text-align: center;
  font-size: 1rem;
}

.taskExportsDetails__typeDesc
{
  font-weight: 100;
  font-size: 80%;
  display: block;
}
.taskExportsDetails__date
{
  padding-left: 15px;
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: hsl(0 0% 67% / 1);
  
  @include media-breakpoint-down(sm) {
    & {
      padding-left: 1px;
    }
  }
}

.taskExportsDetails__date--started
{

}
.taskExportsDetails__date--_broken
{

}
.taskExportsDetails__date--success
{

}
.taskExportsDetails__filename
{
  direction: ltr;
  text-align: left;

  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  padding: 8px;
  word-break: break-all;
  font-family: "Roboto Mono", monospace;
  color: #333;
  background: white;

  @include media-breakpoint-down(sm) {
    & {
      font-size: 70%;
    }
  }
}

.taskExportsDetails__size
{
  direction: ltr;
  text-align: left;


}

.taskExportsDetails__row--excel
{
    background: linear-gradient(-45deg, #f3fff3, transparent);
}
.taskExportsDetails__row--html
{
    background: hsl(210 100% 98% / 1);
}
.taskExportsDetails__row--htmlEntities
{
    background: linear-gradient(45deg, hsl(12deg 100% 98%), hsl(208deg 100% 98%));
}

.taskExportsDetails td
{
    position: relative;
    padding: 0.5rem;
    padding-bottom: 2px;
    font-size: 0.8rem;
    vertical-align: middle;
    max-width: 200px;
    height: 100px;
}

.taskExportsDetails__status
{
    display: block;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 0 5px #dad7d7;
    text-align: center;
    margin: 0;
}

.taskExportsDetails__notApplicable {
  filter: blur(2px);
}

.taskExportsDetails__typeIcon {
    position: absolute;
    top: 6px;
    font-size: 20px;
    color: #ccc;
}